.tox
.git
.pytest_cache
build
app-data*
venv*
.venv
**/__pycache__
**/*.pyc
**/node_modules
*.egg-info
dist
.idea
.vscode
.DS_Store
.env
.env.*
.flaskenv
settings*.cfg
pip.conf
*.log*
*.sqlite*
repository
target/.venv
offline-bundle
offline-bundle-bullseye
.offline-prep.*
otterwiki-offline.tar.gz
otterwiki-offline-bullseye.tar.gz
