venv/
env*
build/
target/
deploy/tke/*.local.yaml
offline-bundle/
offline-bundle-bullseye/
.offline-prep.*/
otterwiki-offline.tar.gz
otterwiki-offline-bullseye.tar.gz
*.pyc
*.egg-info/
dist/
settings.cfg
*.log*
otterwiki/__pycache__
repository
*.sqlite
.coverage
coverage_html
app-data*
settings*.cfg
tmp
docker-compose.override.yml
.env
.flaskenv
.tox
.idea
otterwiki*.tgz
node_modules/
/static
