<h5 class="sidebar-title">使用帮助</h5>
<div class="sidebar-divider"></div>
<a href="{{ url_for("help") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon">
      <i class="fas fa-book"></i>
    </span>
    用户指南
</a>
{# ### #}
<a href="{{ url_for("help", topic="syntax") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon">
      <i class="fab fa-markdown"></i>
    </span>
    Markdown 语法
</a>
{# ### #}
<a href="{{ url_for("help", topic="plugins") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon">
      <i class="fas fa-fire"></i>
    </span>
    插件指南
</a>
{# ### #}
<a href="{{ url_for("help", topic="admin") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon">
      <i class="fas fa-cogs"></i>
    </span>
    管理员指南
</a>
{# ### #}
<a href="{{ url_for("about") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon">
      <img width="26" src="{{ url_for("static", filename="img/otterhead.png") }}" >
    </span>
    关于 An Otter Wiki
</a>
