{# vim: set et ts=8 sts=4 sw=4 ai ft=jinja.html: #}
{% extends "settings.html" %}
{% block content %}
<div class="card mx-auto mx-lg-20" id="user_mangement">
<form action="{{ url_for("admin_user_management") }}" method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<h2 class="card-title">用户管理</h2>
<div class="table-responsive table-striped">
  <table class="table compact">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>电子邮箱</th>
        <th>姓名</th>
        <th>已批准</th>
        <th>读取</th>
        <th>写入</th>
        <th>上传</th>
        <th>管理员</th>
      </tr>
    </thead>
    <tbody>
{% for user in user_list %}
      <tr>
        <td>
            {% if auth_supported_features['editing'] %}
            <a href="{{ url_for("user", uid=user.id) }}">
                <i class="fas fa-user-edit"></i>
            </a>
            {% endif %}
        </td>
        <td>
            {{user.email}}
        </td>
        <td>
            {{user.name}}
        </td>
        <td>
          <div class="custom-checkbox">
              <input type="checkbox" id="checkbox-a-{{user.id}}" name="is_approved" value="{{user.id}}" {{"checked=\"checked\""|safe if
                user.is_approved }} {% if not auth_supported_features['editing'] %}disabled{% endif %}>
            <label for="checkbox-a-{{user.id}}"></label>
          </div>
        </td>
        <td>
          <div class="custom-checkbox">
              <input type="checkbox" id="checkbox-b-{{user.id}}" name="allow_read" value="{{user.id}}" {{ "checked=\"checked\""|safe if
                user.allow_read }} {% if not auth_supported_features['editing'] %}disabled{% endif %}>
            <label for="checkbox-b-{{user.id}}"></label>
          </div>
        </td>
        <td>
          <div class="custom-checkbox">
              <input type="checkbox" id="checkbox-c-{{user.id}}" name="allow_write" value="{{user.id}}" {{ "checked=\"checked\""|safe if
                user.allow_write }} {% if not auth_supported_features['editing'] %}disabled{% endif %}>
            <label for="checkbox-c-{{user.id}}"></label>
          </div>
        </td>
        <td>
          <div class="custom-checkbox">
              <input type="checkbox" id="checkbox-d-{{user.id}}" name="allow_upload" value="{{user.id}}" {{ "checked=\"checked\""|safe if
                user.allow_upload }} {% if not auth_supported_features['editing'] %}disabled{% endif %}>
            <label for="checkbox-d-{{user.id}}"></label>
          </div>
        </td>
        <td>
          <div class="custom-checkbox">
              <input type="checkbox" id="checkbox-e-{{user.id}}" name="is_admin" value="{{user.id}}" {{ "checked=\"checked\""|safe if
                user.is_admin }} {% if not auth_supported_features['editing'] %}disabled{% endif %}>
            <label for="checkbox-e-{{user.id}}"></label>
          </div>
        </td>
      </tr>
{% endfor %}
    </tbody>
  </table>
  </div>
  <div class="mt-10">
      <em>单独授予用户的权限</em>会叠加在全局权限之上。例如，当全局设置仅允许<strong>管理员</strong>上传附件时，仍可单独允许
          <tt>user@example.org</tt> <strong>上传</strong>，而无需将其设为管理员。
      </em>
  </div>
  <div class="mt-10">
    <input class="btn btn-primary" name="update_permissions" type="submit" value="更新权限" {% if not
      auth_supported_features['editing'] %}disabled{% endif %}>
    {% if auth_supported_features['editing'] %}&nbsp;<a href="{{ url_for("user", uid="") }}" class="btn">添加用户</a>{% endif %}
  </div>
</form>
</div>
{% endblock %}
