{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "form.html" %}
{% block menu %}
{{ super() }}
{% include 'snippets/menu.html' %}
{% include 'snippets/menutree.html' %}
{% endblock %}
{%- block navbardropdown %}
{%- include 'snippets/navbardropdown_page_tools.html' %}
{{ super() }}
{%- endblock %}
{%- block navbar %}
{%- include 'snippets/navbar_edit_button.html' %}
{%- endblock %}
{% block formcontent %}
<form action="{{url_for("delete", path=pagepath )}}" method="POST" class="form-inline">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="message" class="w-150">提交说明</label>
    <input type="text" class="form-control" name="message" id="message" placeholder="删除 {{pagename}}。" value="{{message}}">
  </div>
  <div class="custom-checkbox">
      <input type="checkbox" id="delete-attachments" name="recursive" value="recursive" checked>
      <label for="delete-attachments">同时删除所有附件文件和文件夹</label>
  </div>
  <div class="form-group mt-10">
      <input class="btn btn-danger" type="submit" value="删除">
      <a href="{{ url_for("view", path=pagepath) }}" class="btn" role="button">取消</a>
  </div>
  <div class="form-text">
      <em>注意：回滚此次删除操作可以恢复被删除的文件。</em>
  </div>
</form>
{% endblock %}
