{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "page.html" %}
{#
    Head
#}
{% block head %}
<style type="text/css" media="screen">
.preview-background {
    background-image: url('{{ url_for("static", filename="img/preview.png") | debug_unixtime }}');
}
#preview_block:focus {
    outline: none;
}
#thumbnail-size {
    width: 120px;
}
</style>
<link href="{{ url_for("static", filename="css/codemirror-theme.css") | debug_unixtime }}" rel="stylesheet" />
<link href="{{ url_for("static", filename="css/codemirror-dialog.css") | debug_unixtime }}" rel="stylesheet" />
{% endblock %}
{% block navbarsearch %}
{#- disable search block #}
{% endblock %}
{% block navbardropdown_outer %}
{#- disable page drop down #}
{% endblock %}
{% block navbar_editor %}
<button onclick="otterwiki_editor.undo()" class="btn btn-editor btn-xs ml-10" title="撤销"><i class="fas fa-undo"></i></button>
<button onclick="otterwiki_editor.redo()" class="btn btn-editor btn-xs" style="margin-left: 0.1rem;" title="重做"><i class="fas fa-redo"></i></button>
{##}
<button onclick="cmOpenSearch()" class="btn btn-editor btn-xs ml-5 hidden-sm-and-down" title="搜索"><i class="fas fa-search"></i></button>
<button onclick="cmOpenReplace()" class="btn btn-editor btn-xs mr-5 hidden-sm-and-down" title="搜索和替换"><i class="fas fa-search fa-flip-both"></i></button>
{##}
<button onclick="otterwiki_editor.bold()" class="btn btn-editor btn-xs ml-5 hidden-sm-and-down" title="粗体"><i class="fa fa-bold"></i></button>
<button onclick="otterwiki_editor.italic()" class="btn btn-editor btn-xs hidden-sm-and-down" title="斜体"><i class="fa fa-italic"></i></button>
<button onclick="otterwiki_editor.strikethrough()" class="btn btn-editor btn-xs hidden-sm-and-down" title="删除线"><i class="fa fa-strikethrough"></i></button>
<button onclick="otterwiki_editor.header()" class="btn btn-editor btn-xs hidden-sm-and-down" title="标题"><i class="fa fa-heading"></i></button>
<button onclick="otterwiki_editor.quote()" class="btn btn-editor btn-xs hidden-sm-and-down" title="引用块"><i class="fa fa-quote-left"></i></button>
{##}
<div class="dropdown">
  <button class="btn btn-editor ml-5 hidden-sm-and-down" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-list" title="列表菜单">
    <i class="fas fa-list-ul"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right w-150" aria-labelledby="navbar-dropdown-toggle-list">
    <a onclick="otterwiki_editor.ul()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-list-ul"></i>
        </span>
        无序列表
    </a>
    <a onclick="otterwiki_editor.ol()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-list-ul"></i>
        </span>
        有序列表
    </a>
    <a onclick="otterwiki_editor.cl()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-check-square"></i>
        </span>
        任务列表
    </a>
    <a onclick="otterwiki_editor.hr()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-ruler-horizontal"></i>
        </span>
        分隔线
    </a>
  </div>
</div>
{##}
<div class="dropdown">
  <button class="btn btn-editor ml-5 hidden-sm-and-down" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-code" title="代码菜单">
    <i class="fas fa-code"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right w-150" aria-labelledby="navbar-dropdown-toggle-code">
    <a onclick="otterwiki_editor.code()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-code"></i>
        </span>
        行内代码
    </a>
    <a onclick="otterwiki_editor.codeBlock()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-file-code"></i>
        </span>
        代码块
    </a>
  </div>
</div>
{##}
<div class="dropdown">
  <button class="btn btn-editor ml-5 hidden-sm-and-down" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-blocks" title="内容块菜单">
    <i class="fas fa-layer-group"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right w-150" aria-labelledby="navbar-dropdown-toggle-blocks">
    <a onclick="otterwiki_editor.spoiler()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-eye-slash"></i>
        </span>
        剧透内容块
    </a>
    <a onclick="otterwiki_editor.expand()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-caret-square-down"></i>
        </span>
        折叠内容块
    </a>
    <a onclick="otterwiki_editor.panelNotice()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-info-circle"></i>
        </span>
        提示面板
    </a>
    <a onclick="otterwiki_editor.panelWarning()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-exclamation-circle"></i>
        </span>
        警告面板
    </a>
    <a onclick="otterwiki_editor.panelDanger()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-times-circle"></i>
        </span>
        危险面板
    </a>
  </div>
</div>
{##}
<div class="dropdown">
  <button class="btn btn-editor hidden-sm-and-down" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-alerts" title="警示菜单">
    <i class="fas fa-bell"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right w-150" aria-labelledby="navbar-dropdown-toggle-alerts">
    <a onclick="otterwiki_editor.alertNote()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-info-circle"></i>
        </span>
        备注
    </a>
    <a onclick="otterwiki_editor.alertTip()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-lightbulb"></i>
        </span>
        提示
    </a>
    <a onclick="otterwiki_editor.alertImportant()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-star"></i>
        </span>
        重要
    </a>
    <a onclick="otterwiki_editor.alertWarning()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-exclamation-circle"></i>
        </span>
        警告
    </a>
    <a onclick="otterwiki_editor.alertCaution()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-times-circle"></i>
        </span>
        注意
    </a>
  </div>
</div>
{##}
<div class="dropdown">
  <button class="btn btn-editor ml-5 hidden-sm-and-down" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-references" title="引用菜单">
    <i class="fas fa-link"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right w-150" aria-labelledby="navbar-dropdown-toggle-references">
    <a onclick="otterwiki_editor.link()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-link"></i>
        </span>
        链接
    </a>
    <a onclick="otterwiki_editor.footnote()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-asterisk"></i>
        </span>
        脚注
    </a>
  </div>
</div>
{##}
<div class="dropdown">
  <button class="btn btn-editor hidden-sm-and-down" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-graphics" title="图形菜单">
    <i class="fas fa-images"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right w-150" aria-labelledby="navbar-dropdown-toggle-graphics">
    <a onclick="otterwiki_editor.img()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-image"></i>
        </span>
        图片
    </a>
    <a onclick="otterwiki_editor.diagram()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-project-diagram"></i>
        </span>
        图表
    </a>
  </div>
</div>
{##}
<div class="dropdown">
  <button class="btn btn-editor ml-5 mr-5 hidden-sm-and-down" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-table" title="表格菜单">
    <i class="fas fa-table"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-table">
    <a onclick="otterwiki_editor.table()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-table"></i>
        </span>
        添加／格式化表格
    </a>
    <a onclick="otterwiki_editor.table_add_row()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-plus-circle"></i>
        </span>
        添加行
    </a>
    <a onclick="otterwiki_editor.table_remove_row()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-minus-circle"></i>
        </span>
        删除行
    </a>
    <a onclick="otterwiki_editor.table_move_row_up()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-arrow-up"></i>
        </span>
        上移行
    </a>
    <a onclick="otterwiki_editor.table_move_row_down()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-arrow-down"></i>
        </span>
        下移行
    </a>
    <div class="dropdown-divider"></div>
    <a onclick="otterwiki_editor.table_add_column()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-plus-circle"></i>
        </span>
        添加列
    </a>
    <a onclick="otterwiki_editor.table_remove_column()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-minus-circle"></i>
        </span>
        删除列
    </a>
    <a onclick="otterwiki_editor.table_move_column(-1)" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-arrow-left"></i>
        </span>
        左移列
    </a>
    <a onclick="otterwiki_editor.table_move_column(1)" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-arrow-right"></i>
        </span>
        右移列
    </a>
     <div class="dropdown-divider"></div>
    <a onclick="otterwiki_editor.table_align_col('left')" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-align-left"></i>
        </span>
        左对齐
    </a>
    <a onclick="otterwiki_editor.table_align_col('center')" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-align-center"></i>
        </span>
        居中对齐
    </a>
    <a onclick="otterwiki_editor.table_align_col('right')" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-align-right"></i>
        </span>
        右对齐
    </a>
  </div>
</div>
{% endblock %}
{#
    Navbar
#}
{% block bodytop %}
{%if config["COMMIT_MESSAGE"] != "DISABLED"%}
<div class="modal" id="modal-commit" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close" onclick="otterwiki.toggleModal('modal-commit')" role="button" aria-label="关闭">
        <span aria-hidden="true">&times;</span>
      </a>
      <h5 class="modal-title">保存 {{pagename}}</h5>
      <form id="saveform" action="{{ url_for('save', path=pagepath) }}" method="post" autocomplete="off">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input id="save_content" type="hidden" name="content" value="">
      <input id="save_cursor_line" type="hidden" name="cursor_line" value="" />
      <input id="save_cursor_ch" type="hidden" name="cursor_ch" value="" />
        <div class="form-group">
{%if config["COMMIT_MESSAGE"] == "REQUIRED"%}
            <label for="commit-message" class="required">提交说明</label>
            <input name="commit" id="commit-message" type="text"  class="form-control" placeholder="请输入提交说明" required="required">
{% else %}
            <label for="commit-message">提交说明</label>
            <input name="commit" id="commit-message" type="text" class="form-control" value="{{ default_commit_message }}" placeholder="提交说明（可选）">
{% endif %}
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="保存">
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{#
    Sidebar Menu
#}
{% block menu %}
{{ super() }}
{% endblock %}
{#
    extra-navbar
#}
{% block extra_nav -%}
<div id="extranav-attachments">
<h5 class="sidebar-title"><a class="sidebar-title-link" href="{{ url_for('attachments', pagepath=pagepath ) }}">附件 <i class="fa fa-paperclip"></i></a></h5>
                    <div class="sidebar-divider" ></div>
                    <form class="ml-10">
                        <select class="form-control" id="attachment-filename" onchange="otterwiki_editor.update_attachment_preview(this);">
                          <option value="" selected="selected" disabled="disabled">选择附件</option>
{% for f in files %}
                          <option value="{{f.filename}}/--/{{f.url}}/--/{{f.thumbnail_url or ''}}">{{f.filename}}</option>
{% endfor %}
                        </select>
                        <div id="extranav-preview" class="my-5"></div>
                        <div class="custom-radio mt-5 ml-5">
                          <input type="radio" name="attachment-type" id="attachment-link" value="link" checked="checked">
                          <label for="attachment-link">作为链接</label>
                        </div>
                        <div class="custom-radio mt-5 ml-5">
                          <input type="radio" name="attachment-type" id="attachment-image" value="image">
                          <label for="attachment-image">作为图片</label>
                        </div>
                        <div class="custom-radio mt-5 ml-5">
                          <input type="radio" name="attachment-type" id="attachment-thumbnail" value="thumbnail">
                          <label for="attachment-thumbnail">作为带缩略图的链接</label>
                        </div>
                        <div class="mt-5 ml-10" id="thumbnail-size-container" style="display: none;">
                          <input type="text" id="thumbnail-size" class="form-control" placeholder="最大尺寸（像素）" pattern="[0-9]*" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                        </div>
                        <div class="custom-checkbox mt-5 ml-5">
                          <input type="checkbox" id="attachment-absolute" value="checked">
                          <label for="attachment-absolute">使用绝对路径</label>
                        </div>
                        <button class="btn mt-5" type="button" onclick="otterwiki_editor.insert_attachment()" title="插入编辑器" ><i class="fas fa-paste"></i></button>
                    </form>


                    <p class="font-size-12 p-15 text-muted">可通过本页的“附件”添加更多媒体，也可以将文件拖入编辑器；保存页面时，文件会自动上传并嵌入。</p>

                    <h5 class="sidebar-title">WikiLink <i class="fa fa-link"></i></h5>
                    <div class="sidebar-divider" ></div>
                    <form class="ml-10">
                        <select class="form-control" id="wikilink">
                          <option value="" selected="selected" disabled="disabled">选择要链接的页面</option>
{% for p in pages %}
                          <option value="{{p[1]}}">{{p[1]}}</option>
{% endfor %}
                        </select>
                        <button class="btn mt-5" type="button" onclick="otterwiki_editor.insert_wikilink()" title="插入编辑器" ><i class="fas fa-paste"></i></button>
                        <button class="btn mt-5" type="button" onclick="otterwiki_editor.insert_wikilink(false)" title="插入编辑器，并以页面名作为链接文字" ><i class="fa fa-heading"></i></button>
                    </form>
                    </div>
{{ super() }}
{%- endblock extra_nav %}
{#
    Content
#}
{% block content_wrapper %}
<!-- Content wrapper start -->
<form id="dummy">
{# FIXME #}
<textarea id="content_editor" name="content_editor">{{ content_editor }}</textarea>
</form>
<div id="editor_block" style="display: block;"></div>
<div id="preview_block" tabindex="-1" style="display: none;"></div>
<div id="editor-bottom-panel" class="editor-bottom-panel" style="display:none;">
    <a href="#" onclick="otterwiki.toggleMarkdownHelp()" class="btn btn-xsm"><i class="fab fa-markdown"></i> Markdown 语法</a>
    <div id="editor-help-markdown" class="content card border rounded-top p-5" style="display: none;">
        <a href="{{ url_for("syntax") }}" class="btn btn-xsm" target="_blank">
            <i class="fas fa-expand-arrows-alt"></i>
                    完整语法指南
        </a>
        <a href="#" onclick="otterwiki.toggleMarkdownHelp()" class="text-muted" style="float:right;">
            <i class="far fa-times-circle"></i>
        </a>

          {% include "snippets/syntax.html" %}
    </div>
</div>
{# <!-- Content wrapper end --> #}
{% endblock %}
{#
    Navbar
#}
{% block navbar %}
<a href="{{ url_for('view', path=pagepath) }}" class="btn btn-danger mr-5" role="button" title="取消"><i class="fas fa-window-close"></i></a>
{%if config["COMMIT_MESSAGE"] == "DISABLED"%}
<form id="saveform" action="{{ url_for('save', path=pagepath) }}" method="post" autocomplete="off">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<input id="save_content" type="hidden" name="content" value="">
<input id="save_cursor_line" type="hidden" name="cursor_line" value="" />
<input id="save_cursor_ch" type="hidden" name="cursor_ch" value="" />
<button id="save-page-btn" class="btn btn-success mr-5" title="保存"><i class="fas fa-save"></i></button>
<input name="commit" type="hidden" value="">
</form>
{% else %}
<button id="save-page-btn" class="btn btn-success mr-5" onclick="otterwiki.toggleModal('modal-commit')" title="保存"><i class="fas fa-save"></i></button>
{% endif %}
<button id="preview_btn" class="btn btn-primary" style="width: 1rem;" title="预览"><i class="far fa-eye" ></i></button>
<button id="editor_btn" class="btn btn-primary" style="width: 1rem; display:none;" title="编辑"><i class="fas fa-pencil-alt"></i></button>
{% endblock %}
{#
    Javascript
#}
{% block js %}
{# force load libraries in editor for preview functionality #}
{% set force_load_libraries = true %}
{{ super() }}
{# load the codemirror stuff #}
<script src="{{ url_for("static", filename="js/inline-attachment.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for("static", filename="js/cm6-bundle.min.js") | debug_unixtime }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    window.otterwikiEditorConfig = {
        cursorLine: {{cursor_line or 0}},
        cursorCh: {{cursor_ch or 0}},
        isMobile: /Mobi|Android|iPhone|iPad|iPod/i.test(navigator.userAgent),
        inlineAttachmentOptions: {
            uploadUrl: {{ url_for('inline_attachment', pagepath=pagepath) | tojson }},
            extraHeaders: {'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').content},
            allowedTypes: ['*'],
            urlText: function(filename, result) {
                var imageExtensions = ['.jpg', '.jpeg', '.png', '.gif', '.webp', '.svg', '.bmp', '.tiff'];
                var isImage = false;
                for (var i = 0; i < imageExtensions.length; i++) {
                    if (filename.toLowerCase().endsWith(imageExtensions[i])) { isImage = true; break; }
                }
                var displayName = filename.replace(/^\.\//, '');
                if (isImage) { return "![" + displayName + "](" + filename + ")"; }
                else { return "[" + displayName + "](" + filename + ")"; }
            },
            onFilenamePrompt: function(suggestedFilename, file) {
                return prompt("请输入附件文件名：", suggestedFilename);
            },
            onFileUploadResponse: function(xhr) {
                var result = JSON.parse(xhr.responseText),
                    filename = result[this.settings.jsonFieldName];
                if (result && filename) {
                    var newValue;
                    if (typeof this.settings.urlText === 'function') {
                        newValue = this.settings.urlText.call(this, filename, result);
                    } else {
                        newValue = this.settings.urlText.replace(this.filenameTag, filename);
                    }
                    var text = this.editor.getValue().replace(this.lastValue, newValue);
                    this.editor.setValue(text);
                    this.settings.onFileUploaded.call(this, filename);
                    var uploadedFilename = filename.replace(/^\.\//, '');
                    if (result.attachments) { refreshAttachmentsDropdown(result.attachments, uploadedFilename); }
                }
                return false;
            }
        }
    };
    function refreshAttachmentsDropdown(attachments, selectFilename) {
        var attachmentSelect = document.getElementById('attachment-filename');
        if (!attachmentSelect) return;

        // Clear existing options except the first (placeholder)
        while (attachmentSelect.options.length > 1) {
            attachmentSelect.remove(1);
        }

        // Add all attachments
        if (attachments && attachments.length > 0) {
            attachments.forEach(function(file) {
                var optionValue = file.filename + "/--/" + file.url + "/--/" + (file.thumbnail_url || '');
                var option = document.createElement('option');
                option.value = optionValue;
                option.textContent = file.filename;
                attachmentSelect.appendChild(option);

                // Make last inserted attachment selected
                if (selectFilename && file.filename === selectFilename) {
                    attachmentSelect.value = optionValue;
                }
            });

            // If an attachment was selected, update the preview and enable/disable controls
            if (selectFilename) {
                otterwiki_editor.update_attachment_preview();
            }
        }
    }

    /* document elements */
    const content_wrapper = document.querySelector("#content-wrapper")
    const preview_btn = document.querySelector("#preview_btn");
    const editor_btn = document.querySelector("#editor_btn");
    const sidebar_toc = document.querySelector("#sidebar-toc");
    const extranav_toc = document.querySelector("#extranav-toc");
    const extranav_attachments = document.querySelector("#extranav-attachments");
    let editor_blocks = [];
    const preview_block = document.querySelector("#preview_block");
    var cm_last_change = 0;
    var cm_save_timer = null;

    save_draft = function() {
        cm_last_change = Date.now();
        if (cm_save_timer != null) {
            window.clearTimeout(cm_save_timer);
            cm_save_timer = null;
        }
        const formData = new FormData();
        formData.append("content", cm_editor.state.doc.toString());
        const sel = cm_editor.state.selection.main;
        const lineAt = cm_editor.state.doc.lineAt(sel.head);
        formData.append("cursor_line", lineAt.number - 1);
        formData.append("cursor_ch", sel.head - lineAt.from);
        formData.append("revision", "{{revision}}");
        fetch({{ url_for('draft', path=pagepath) | tojson }}, {
            method: 'POST',
            headers: {'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').content},
            body: formData,
        })
            .then(function (response) {
                return response.json();
            })
            .catch(function () {
                console.log('Error saving draft ...');
            });
    }
    const handleUnload = (event) => {
        if (cm_editor != null && !cmIsClean()) {
            event.preventDefault();
            // No browser actually displays this message anymore.
            // But Chrome requires it to be defined else the popup won't show.
            event.returnValue = '';
            save_draft();
        }
    };

    window.addEventListener('load', function () {
        editor_blocks = [
            document.getElementById('editor_block'),
            document.getElementById('editor-bottom-panel'),
        ];
        /*
            prevent user leaving with unsaved changes
            Known Issue: this doesn't work reliable in Safari
        */
        cm_editor.dom.addEventListener('cm6change', () => {
            window.removeEventListener('beforeunload', handleUnload);
            window.addEventListener('beforeunload', handleUnload);
            if (cm_save_timer == null) {
                cm_save_timer = window.setTimeout(save_draft, 6000);
            }
        });
    }); // page load

    /* save */
    document.getElementById('saveform').onsubmit = function() {
        document.getElementById('save_content').value = cm_editor.state.doc.toString();
        const sel = cm_editor.state.selection.main;
        const lineAt = cm_editor.state.doc.lineAt(sel.head);
        document.getElementById('save_cursor_line').value = lineAt.number - 1;
        document.getElementById('save_cursor_ch').value = sel.head - lineAt.from;
        cmMarkClean();
    };
    /* preview */
    preview_btn.onclick = function() {
        {# toggle preview/edit #}
        preview_block.style.display = 'block';
        for (const editor_block of editor_blocks) {
            editor_block.style.display = 'none';
        }
        editor_btn.style.display = '';
        preview_btn.style.display = 'none';
        extranav_attachments.style.display = 'none';
        content_wrapper.classList.add("preview-background");

        const formData = new FormData();
        formData.append("content", cm_editor.state.doc.toString());
        const previewSel = cm_editor.state.selection.main;
        const previewLineAt = cm_editor.state.doc.lineAt(previewSel.head);
        formData.append("cursor_line", previewLineAt.number - 1);
        formData.append("cursor_ch", previewSel.head - previewLineAt.from);

        /* FIXME: display loader */
        fetch({{ url_for('preview', path=pagepath) | tojson }}, {
                method: 'POST',
                headers: {'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').content},
                body: formData,
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                preview_block.innerHTML = data.preview_content;
                sidebar_toc.innerHTML = data.preview_toc;
                extranav_toc.innerHTML = data.preview_toc;
                if (data.preview_js)
                {
                    try {
                        eval(data.preview_js);
                    }
                    catch(e) {
                        console.log("Error", e.stack);
                        console.log("Error", e.name);
                        console.log("Error", e.message);
                    }
                }
            })
            .then(function () {
                cursor = document.getElementById("otterwiki_cursor");
                // update MathJax if loaded
                if (typeof MathJax !== 'undefined' && MathJax.typesetPromise) {
                    var preview = document.getElementById('preview_block');
                    MathJax.typesetClear([preview]);
                    MathJax.typesetPromise([preview]);
                }
                // update Mermaid if loaded
                if (typeof mermaid !== 'undefined') {
                    otterwiki.update_mermaid();
                }
                if (cursor) {
                    cursor.scrollIntoView({
                        behavior: 'instant',
                        block: 'center',
                        inline: 'nearest',
                    });
                }
                // move focus to the preview so the reader can scroll it
                // with page up/down (preventScroll keeps the position we
                // just scrolled to)
                preview_block.focus({preventScroll: true});
            })
            .catch(function () {
                console.log('Error fetching preview ...');
            });
    }
    /* edit */
    editor_btn.onclick = function() {
        {# toggle preview/edit #}
        preview_block.style.display = 'none';
        for (const editor_block of editor_blocks) {
            editor_block.style.display = 'block';
        }
        extranav_attachments.style.display = 'block';
        editor_btn.style.display = 'none';
        preview_btn.style.display = '';
        sidebar_toc.innerHTML = '';
        extranav_toc.innerHTML = '';
        content_wrapper.classList.remove("preview-background");
        {# focus editor #}

        cm_editor.focus()
    }

    // handle thumbnail size field visibility
    function toggleThumbnailSizeField() {
        var thumbnailRadio = document.getElementById("attachment-thumbnail");
        var thumbnailSizeContainer = document.getElementById("thumbnail-size-container");

        if (thumbnailRadio && thumbnailSizeContainer) {
            if (thumbnailRadio.checked) {
                thumbnailSizeContainer.style.display = 'block';
            } else {
                thumbnailSizeContainer.style.display = 'none';
            }
        }
    }

    // add event listeners to radio buttons
    document.addEventListener('DOMContentLoaded', function() {
        var attachmentRadios = document.querySelectorAll('input[name="attachment-type"]');
        attachmentRadios.forEach(function(radio) {
            radio.addEventListener('change', toggleThumbnailSizeField);
        });

        // initialize visibility on page load
        toggleThumbnailSizeField();
    });
</script>
{% endblock %}
